@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  border-box: box-sizing;
}

body {
  background-image: linear-gradient(to right, #ae8ba1ff, #55464fff);
  background-repeat: no-repeat;
  height: 100vh;
}

header {
  text-align: center;
  margin: 100px;
  color: #faee80ff;
}

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.demoTask input {
  width: 300px;
  border: none;
  background-color: #c0b8bdff;
  height: 1.5em;
}

input#inputTask {
  border: none;
  text-align: center;
  width: 500px;
  height: 2.5em;
  font-size: 1.1em;
  outline: none;
  background-color: #fcebf6ff;
  transition: background-color 0.5s ease;
}

input#inputTask:hover {
  background-color: #f2ecb6;
  border-bottom: 1px solid black;
}

button.noView {
  display: none;
}
